<a href="https://colab.research.google.com/github/utkarshsehrawat/RL/blob/main/Experiment_1_(RL).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [6]:
def quicksort(arr):
  if len(arr) <=1:
    return arr
  pivot = arr[len(arr) // 2]
  left = [x for x in arr if x < pivot]
  middle = [x for x in arr if x == pivot]
  right = [x for x in arr if x > pivot]
  return quicksort(left) + middle + quicksort(right)
print(quicksort([5,14,8,2,7,1,9]))

[1, 2, 5, 7, 8, 9, 14]

In [7]:
x=3
print(x, type(x))

3 <class 'int'>

In [8]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

In [9]:
x += 1
print(x)
x *=2
print(x)

4
8

In [10]:
y= 2.5
print(type(y))
print(y,y+1,y*2,y**2)

<class 'float'>
2.5 3.5 5.0 6.25

In [12]:
y= 3.14159265359
print(type(y))
print(y,y+1,y*2,y**2)

<class 'float'>
3.14159265359 4.14159265359 6.28318530718 9.869604401090658

In [14]:
t,f= True,False
print(t and f)
print(t or f)
print(not t)
print(t != f)

False
True
False
True

In [15]:
hello= 'hello'
world= "hello"
print(hello, len(hello))

hello 5

In [20]:
F= 'Utkarsh'
S= "Sehrawat"
print(F+ S, len(F+ S))

UtkarshSehrawat 15

In [21]:
hw= hello + " " + world
print(hw)

Utkarsh Sehrawat

In [23]:
hw12= '{} {} {}'.format(hello, world,12)
print(hw12)

Utkarsh Sehrawat 12

In [35]:
s= "Utkarsh"
print(s.capitalize())
print(s.upper())
print(s.rjust(9))
print(s.center(9))
print(s.replace('h','(ell)'))
print('Sehrawat'.strip())

Utkarsh
UTKARSH
  Utkarsh
 Utkarsh
Utkars(ell)
Sehrawat

In [40]:
xs= [3,1,2]
print(xs,xs[2])
print(xs[-2])

[3, 1, 2] 2
1

In [37]:
xs[2]='foo'
print(xs)

[3, 1, 'foo']

In [38]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

In [42]:
nums = list(range(10))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])
print(nums[:])
print(nums[:-1])
nums[2:4] = [8,9]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 8, 9, 5, 4, 5, 6, 7, 8, 9]

In [43]:
animals = ['cat','dog','monkey']
for animals in animals:
  print(animals)

cat
dog
monkey

In [44]:
animals = ['cat','dog','monkey']
for idx, animal in enumerate(animals):
  print('#{}: {}'.format(idx+ 1,animal))

#1: cat
#2: dog
#3: monkey